In [42]:
import pandas as pd
uriage_data = pd.read_csv("uriage.csv")
# uriage_data.describe()
# uriage_data.dtypes
uriage_data["purchase_date"] = pd.to_datetime(uriage_data["purchase_date"])

# strtimefは日付タイプを文字列へ変換するメソッド
uriage_data["payment_month"] = uriage_data["purchase_date"].dt.strftime("%Y%m")
print(uriage_data.isnull().sum())
uriage_data.head()

purchase_date      0
item_name          0
item_price       387
customer_name      0
payment_month      0
dtype: int64

        purchase_date item_name  item_price customer_name payment_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美        201906
1 2019-07-13 13:05:29     商 品 S         NaN          浅田賢二        201907
2 2019-05-11 19:42:07     商 品 a         NaN          南部慶二        201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒        201902
4 2019-04-22 03:09:35       商品a         NaN          平田鉄二        201904

In [39]:
pd.set_option('display.max_columns', 10)
uriage_data.groupby(["payment_month", "item_name"]).sum("item_price")
pd.pivot_table(uriage_data, index="payment_month", columns="item_name", aggfunc="size", fill_value=0)

pd.pivot_table(uriage_data, index="payment_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)

item_name,商品W,商 品 n,商品E,商品M,商品P,...,商品s,商品t,商品v,商品x,商品y
payment_month,,,,,,,,,,,
201901,0,1400,0,0,0,...,0,0,0,0,0
201902,0,0,0,0,0,...,1900,2000,2200,0,0
201903,0,0,500,1300,1600,...,0,0,0,0,0
201904,2300,0,0,0,0,...,1900,0,0,0,0
201905,0,0,0,0,0,...,0,0,0,0,2500
201906,0,0,0,0,0,...,0,0,0,2400,0
201907,0,0,0,0,0,...,0,0,0,0,0

In [56]:
# データの揺れを補正する
print(len(uriage_data["item_name"].unique()))
uriage_data["item_name"] = uriage_data["item_name"].str.upper()
uriage_data["item_name"] = uriage_data["item_name"].str.replace(" ", "")
uriage_data["item_name"] = uriage_data["item_name"].str.replace("　", "")
print(len(uriage_data["item_name"].unique()))
t_list = uriage_data["item_name"].unique()
t_list.sort()
t_list

26
26

array(['商品A', '商品B', '商品C', '商品D', '商品E', '商品F', '商品G', '商品H', '商品I',
       '商品J', '商品K', '商品L', '商品M', '商品N', '商品O', '商品P', '商品Q', '商品R',
       '商品S', '商品T', '商品U', '商品V', '商品W', '商品X', '商品Y', '商品Z'],
      dtype=object)

In [12]:
kokyaku_data = pd.read_excel("kokyaku_daicho.xlsx")
kokyaku_data.head()
# print(kokyaku_data["顧客名"].unique())

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127